<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Change Password</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Change Password <small>Activity report</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <form [formGroup]="profileForm" class="form-horizontal" (ngSubmit)="onSubmit()">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Old Password <span class="required">*</span></label>
                            <input type="password" formControlName="oldPassword" class="form-control" placeholder="Old Password" required >
                            <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="alert alert-danger">Old Password is requird</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>New Password <span class="required">*</span></label>
                            <input type="password" formControlName="newPassword" class="form-control" placeholder="New Password" required >
                            <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert alert-danger">New Password is requird</div>
                        </div>
                    </div>
                </div>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label>Confirm Password <span class="required">*</span></label>
                              <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" required >
                              <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">Confirm Password is requird and mult be equal</div>


                          </div>
                      </div>
                  </div>

                <div class="ln_solid"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
