<!-- page content -->
       <div class="right_col" role="main">
         <div class="">
           <div class="page-title">
             <div class="title_left">
               <h3>All Users </h3>
             </div>

             <div class="title_right">
               <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                 <div class="input-group">
                   <input type="text" class="form-control" placeholder="Search for...">
                   <span class="input-group-btn">
                     <button class="btn btn-default" type="button">Go!</button>
                   </span>
                 </div>
               </div>
             </div>
           </div>
           <div class="clearfix"></div>
           <div class="row">
             <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>All Users <small>Users list</small></h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                          <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title" style="display: table-cell;">User Name </th>
                                        <th class="column-title" style="display: table-cell;">User Email</th>
                                      
                                        
                                       <!--  <th class="column-title no-link last" style="display: table-cell;"><span class="nobr">Action</span>
                                        </th> -->
                                        <th class="bulk-actions" colspan="7" style="display: none;">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt">1 Records Selected</span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="even pointer" *ngFor="let listItem of listItems | paginate: { itemsPerPage: 2, currentPage: p }">
                                        <td class="a-center ">
                                            <input type="checkbox"  name="{{ listItem._id }}" style="position: absolute;">
                                        </td>
                                        <td class=" ">{{ listItem.name }}</td>
                                        <td class=" ">{{ listItem.email }}</td>
                                        
                                       <!--  <td class=" last"><a [routerLink]="['/admin/cms/edit', listItem._id]"><i class="fa fa-edit"></i></a>
                                        <button class="btn btn-default" mwlConfirmationPopover [popoverTitle]="popoverTitle"   [popoverMessage]="popoverMessage" placement="top" (confirm)="deleteCms(listItem._id)" (cancel)="cancelClicked = true"> <i class="fa fa-trash-o"></i></button>

                                        </td> -->
                                    </tr>
                                    <tr><td colspan="3"><pagination-controls (pageChange)="p = $event" [class]="'ngx-pagination'"></pagination-controls></td></tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

           </div>
         </div>
       </div>
       <!-- /page content -->
